# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  backend-lint:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/configuration-reference/#executor-job
    docker:
      - image: cimg/node:lts
    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - checkout
      - run: npm install
      - run:
          name: "Backend lint"
          command: "npm run lint-check"
          working_directory: "backend/"
  backend-type-check:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/configuration-reference/#executor-job
    docker:
      - image: cimg/node:lts
    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - checkout
      - run: npm install
      - run:
          name: "Backend bd-install"
          command: "npm run db-install"
          working_directory: "backend/"
      - run:
          name: "Backend type-check"
          command: "npm run type-check"
          working_directory: "backend/"
  backend-unit-tests:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/configuration-reference/#executor-job
    docker:
      - image: cimg/node:lts
    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - checkout
      - run: npm install
      - run:
          name: "Backend bd-install"
          command: "npm run db-install"
          working_directory: "backend/"
      - run:
          name: "Backend unit-tests"
          command: "npm run unit-tests"
          working_directory: "backend/"

  frontend-lint:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/configuration-reference/#executor-job
    docker:
      - image: cimg/node:lts
    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - checkout
      - run: npm install
      - run:
          name: "frontend lint"
          command: "npm run lint-check"
          working_directory: "frontend/"
  frontend-type-check:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/configuration-reference/#executor-job
    docker:
      - image: cimg/node:lts
    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - checkout
      - run: npm install
      - run:
          name: "Backend bd-install"
          command: "npm run db-install"
          working_directory: "backend/"
      - run:
          name: "frontend type-check"
          command: "npm run type-check"
          working_directory: "frontend/"
  frontend-unit-tests:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/configuration-reference/#executor-job
    docker:
      - image: cimg/node:lts
    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - checkout
      - run: npm install
      - run:
          name: "frontend unit-tests"
          command: "npm run unit-tests"
          working_directory: "frontend/"

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  backend-workflow:
    jobs:
      - backend-lint
      - backend-type-check
      - backend-unit-tests
  frontend-workflow:
    jobs:
      - frontend-lint
      - frontend-type-check
      - frontend-unit-tests
